{% extends 'base.html' %}
{% block content %}
<div class="section">
    <div class="section-header">
        <h2>Your yarn</h2>
        <a href="/yarn/add" class="btn-submit">
            <img src="/static/icons/yarn_ball.png" alt="Yarn ball" class="button-icon">
            Add yarn
        </a>
    </div>
    {% if yarns %}
    <div class="resource-list">
        {% for yarn in yarns %}
        <a class="resource-card" href="/yarn/{{ yarn.id.value }}">
            <p class="resource-card__eyebrow">{{ yarn.brand }}</p>
            <h3>{{ yarn.name }}</h3>
            <p class="resource-card__meta">{{ yarn.color_shade }}</p>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <p class="empty-state">No yarn yet. Add your first one!</p>
    {% endif %}
</div>
{% endblock %}
