<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}What a knit!{% endblock %}</title>
    <link rel="icon" type="image/png" href="/static/icons/yarn_ball.png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <button class="theme-toggle" onclick="toggleTheme()">
        <img src="/static/icons/moon.png" class="icon icon-light" alt="dark mode">
        <img src="/static/icons/sun.png" class="icon icon-dark" alt="light mode">
    </button>
    <h1><a href="/">What a knit!</a></h1>
    <nav>
        <a href="/projects"><img src="/static/icons/projects.png" class="icon" alt="projects">Projects</a>
        <a href="/patterns"><img src="/static/icons/patterns.png" class="icon" alt="patterns">Patterns</a>
        <a href="/yarn"><img src="/static/icons/yarn_ball.png" class="icon" alt="yarn"> Yarn</a>
        <a href="/tools"><img src="/static/icons/needles.png" class="icon" alt="tools"> Tools</a>
        <a href="/charts"><img src="/static/icons/yarn_ball.png" class="icon" alt="create"> Charts</a>
    </nav>
    {% block content %}
    {% endblock %}
    <footer
        style="margin-top: 40px; text-align: center; color: #9b84b8; font-family: LaBelleAurore, sans-serif; font-size: 14px;">
        <p>@magicpaperbox 2026 <img src="/static/icons/yarn_ball.png" class="icon-footer" alt="yarn"></p>
    </footer>
    <script src="/static/js/main.js"></script>
</body>

</html>