{% extends 'base.html' %}
{% block content %}
<div class="section">
    <h2><img src="/static/icons/needles.png" class="icon-header" alt="Needle"> New pattern</h2>
    <form method="POST" action="/patterns/add">
        <div class="form-group">
            <label for="name">Pattern name:</label>
            <input type="text" id="name" name="name" placeholder="pattern name" required>
        </div>
        <div class="form-group">
            <label for="description">Pattern description:</label>
            <input type="text" id="description" name="description" placeholder="pattern description" required>
        </div>
        <!-- SELECT CATEGORY -->
        <div class="form-group">
            <label for="category">Category:</label>
            <select id="category" name="category" required>
                <option value="" disabled selected hidden>select</option>
                {% for category in pattern_categories %}
                <option value="{{ category.name }}">
                    {{ category.value }}
                </option>
                {% endfor %}
            </select>
        </div>

        <!-- SELECT SUBCATEGORY -->
        <div class="form-group">
            <label for="subcategory">Subcategory:</label>
            <select id="subcategory" name="subcategory">
                <option value="" disabled selected hidden>select category first</option>
            </select>
            <script>
                const subcategories = {{ subcategories_map | tojson }};
            </script>
        </div>


        <div class="form-group">
            <label for="gauge_stitches">Gauge stitches:</label>
            <input type="number" id="gauge_stitches" name="gauge_stitches" min="0" max="100" step="0.5"
                placeholder="stitches in 10 cm">
            <label for="gauge_rows">Gauge rows:</label>
            <input type="number" id="gauge_rows" name="gauge_rows" min="0" max="100" step="0.5"
                placeholder="rows in 10 cm">
        </div>

        <!-- SELECT HAS PATTERN -->
        <div class="form-group">
            <label for="has_pattern">Using existing pattern?</label>
            <select id="has_pattern" name="has_pattern">
                <option value="" disabled selected hidden>select</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
        <div id="pattern-details" style="display: none;">
            <div class="form-group">
                <label for="pattern_language">Pattern language:</label>
                <select id="pattern_language" name="pattern_language">
                    <option value="" disabled selected hidden>select</option>
                    <option value="polish">polish</option>
                    <option value="english">english</option>
                    <option value="other">other</option>
                </select>
            </div>

            <div class="form-group">
                <label for="author">Designer:</label>
                <input type="text" id="author" name="author" placeholder="e.g. Petite Knit">
            </div>

            <div class="form-group">
                <label for="difficulty_level">Difficulty level:</label>
                <select id="difficulty_level" name="difficulty_level">
                    <option value="" disabled selected hidden>select</option>
                    {% for difficulty_level in difficulty_levels %}
                    <option value="{{ difficulty_level.value }}">
                        {{ difficulty_level.value }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <button type="submit" class="btn-submit"><img src="/static/icons/yarn_ball.png" alt="Yarn ball"
                style="width: 24px; vertical-align: middle"> Add pattern</button>
    </form>
</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="/static/js/pattern-form.js"></script>
{% endblock %}